@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine/e-Ukraine-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine/e-Ukraine-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine/e-Ukraine-UltraLight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "e-Ukraine Head";
  src: url("../fonts/e-UkraineHead/e-UkraineHead-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "e-Ukraine Head";
  src: url("../fonts//e-UkraineHead/e-UkraineHead-Bold.otf");
  font-weight: 700;
}
